@import 'colors.scss';
@import 'mixins.scss';
@import 'breakpoints.scss';

.header {
    width: 100%;
    background:$header-bg-color;
    height: 100px;
    box-shadow: 1px 1px 15px black;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 2;

    &__container {
        margin: 0 auto;
        max-width: 136.6rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__hamburger {
        display: block;
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        cursor: pointer;
        @include mq(tablet-large) {
            display: none;
        }
    }

    &__bar1,
    &__bar2,
    &__bar3 {
        width: 3.5rem;
        height: .4rem;
        background-color: $main-font-color;
        margin: .7rem 0;
        transition: 0.4s;
    }
}